extends ./index.pug

block estilos
    link(rel="stylesheet", href="/estilos/tablas.css")

block scripts 
    script(src="/scripts/cantVacunasPorLaboratorioPorFecha.js", type="module", defer) 

block contenido
    h1#titulo.text-center.mt-2 Cantidad de vacunas por laboratorio por rango de fecha
    .container.shadow-sm.border.rounded-4.mt-5.bg-primary-subtle 
        include ./formularios/rangoDeFechasForm.pug
        .table-responsive.my-4.rounded-3.fixed-height-table-container          
            table.table.table-striped.table-hover.mb-0
                thead.table-light
                    tr 
                        th.text-center Laboratorios
                        th.text-center Cantidad Vacunas
                        th.text-center Fecha de compra
                tbody#cuerpo 
                    tr 
                        td.align-middle.text-center(colspan="3") SELECCIONE LAS FECHAS DE INICIAL Y FINAL