extends ../index.pug

block estilos
    link(rel="stylesheet", href="/estilos/tablas.css")

block scripts 
    if (nacional)
        script(src="/scripts/listadoLotes.js", type="module", defer) 
    else 
        script(src="/scripts/listadoSubLotes.js", type="module", defer) 

block contenido
    h1#titulo.text-center.mt-2 Listado del stock disponible
    .container.shadow-sm.border.rounded-4.mt-5.bg-primary-subtle 

        .row.my-2 
            .col-12.col-md-6.col-lg-4
                if (nacional)
                    include ../formularios/selectDepositoNac.pug
                else 
                    include ../formularios/selectProvincia.pug
            .col-12.col-md-6.col-lg-2 
                label.form-label.fw-bold(for="orden") Ordenar por 
                select#orden.form-select(name="orden") 
                    option(value="", selected) Ninguno
                    option(value="tipo-vacuna") Vacuna   
                    option(value="cantidad") Cantidad   
                    option(value="vencimiento") F. vencimiento
                    option(value="nombre-comercial") N. comercial  
                    option(value="laboratorio") Laboratorio 
            .col-12.col-md-6.col-lg-2 
                label.form-label.fw-bold(for="tipo-orden") Tipo de orden
                select#tipo-orden.form-select(name="tipoOrden")
                    option(value="ASC", selected) Ascendente 
                    option(value="DESC") Descendente
            .col-12.col-md-6.col-lg-2 
                label.form-label.fw-bold(for="cantidad-resultados") Cant. Resultados 
                select#cantidad-resultados.form-select(name="CantidadResultados")
                    option(value="5") 5 
                    option(value="10", selected) 10 
                    option(value="15") 15 
                    option(value="20") 20 
                    option(value="25") 25 
                    option(value="50") 50 
            .col-12.col-lg-2.d-flex.justify-content-center.align-items-end.mt-3.mt-lg-0
                span.w-50.d-flex.justify-content-center
                    button#consultar-btn.btn.btn-info(type="button") Colsultar


        .table-responsive.my-4.rounded-3.fixed-height-table-container          
            table.table.table-striped.table-hover.mb-0
                thead.table-light
                    tr 
                        th.text-center Vacuna
                        th.text-center Cantidad
                        th.text-center F.Vencimiento
                        th.text-center Nombre Comercial
                        th.text-center Laboratorio
                        th.text-center Acción
                tbody#cuerpo 
                    tr 
                        td.align-middle.text-center(colspan="6") SELECCIONE #{nacional ? "UN DEPOSITO" : "UNA PROVINCIA"}

        include ../paginador.pug